absl-py
aiohttp
aiosignal
albumentations
antlr4-python3-runtime
async-timeout
attrs
braceexpand
cachetools
certifi
charset-normalizer
click
contourpy
cycler
distlib
easydict
filelock
Flask
Flask-Reuploaded
Flask-Uploads
fonttools
frozenlist
fsspec
future
google-auth
google-auth-oauthlib
grpcio
hydra-core
idna
imageio
imgaug
importlib-metadata
importlib-resources
itsdangerous
Jinja2
joblib
kiwisolver
kornia==0.5.0
lazy_loader
Markdown
MarkupSafe
matplotlib
mpmath
multidict
networkx
numpy
oauthlib
omegaconf
opencv-python
opencv-python-headless
packaging
pandas
Pillow
platformdirs
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil
pytorch-lightning
pytz
PyWavelets
PyYAML
requests
requests-oauthlib
rsa
scikit-image
scikit-learn
scipy
shapely
six
sympy
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
threadpoolctl
tifffile
torch
torchmetrics
torchvision
tqdm
typing_extensions
tzdata
urllib3
virtualenv
webdataset
Werkzeug
wldhx.yadisk-direct
yarl
zipp
