body {
    background-color: #3C3C3C; 
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Style the toolbar */
.toolbar {
    background-color: #000000;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

/* Style the logo */
img {
  max-width: 30%;
}

.logo {
  height: 112px;
}
  
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}
  
  header {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 30px;
  }
  
  header h1 {
    font-size: 2rem;
    color: #333;
  }
  
  .controls {
    display: flex;
    align-items: center;
  }
  
  .controls label {
    margin-right: 10px;
  }
  
  .main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#canvasContainer {
  position: relative;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 30px; /* Add margin to separate the canvas and controls */
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px; /* Add space between controls */
}
  
canvas {
  position: absolute;
  top: 0;
  left: 0;
}

  #drawCanvas {
    opacity: 0.5;
  }
  
  #previewCanvas {
    opacity: 0.5;
  }

  button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c121d3;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:active {
    background-color: #003380;
  }
  
  button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
  }
  
  .instructions {
    margin: 30px 0;
    font-size: 1.2rem;
  }
  
  footer {
    margin-top: 50px;
    font-size: 0.9rem;
    text-align: center;
    color: #999;
  }

  .spinner {
    border: 5px solid #000000;
    border-top: 5px solid #3498db;
    border-bottom: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: calc(50% - 25px); /* center vertically */
    left: calc(50% - 25px); /* center horizontally */
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  input[type="range"] {
    width: 35%;
    height: 10%;
}

.sliders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.sliders label {
  font-size: 26px;
  margin-bottom: 5px;
  color: #c121d3;
}

input[type=range] {
  width: 40%;
  height: 20px;
  border-radius: 10px;
  background: #f2f2f2;
  outline: none;
  padding: 0;
  margin-bottom: 10px;
}

input[type=range]:focus {
  outline: none;
}

.controls {
  position: absolute;
  left: 50%;
  top: 900;
  transform: translateX(-50%);
  width: 50%;
}

.controls button {
  width: 25%;
  height: 60px;
  border: none;
  border-radius: 5px;
  background-color: #c121d3;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

#processImage {
  background-color: green;
}

.controls button:hover {
  background-color: #c95ad5;;
}

.other_buttons {
    background-color: #1750AC
}

.other_buttons_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.other_buttons_div button {
  width: 320px;
  font-size: 24px;
  margin: 10px;
}

#resetImage {
    background-color: red
}

.AI_Tools {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 70px;
}

.AI_Tools h2 {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

.AI_Tools button {
  width: 250px;
  height: 60px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #c121d3;
  color: white;
  font-size: 20px;
  cursor: pointer;
}