body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

#image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  background-color: black;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="file"] {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-align: center
}

button[type="submit"] {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px; 
  }
