
/* Set background color and font family */
body {
    background-color: #F5F5F5;
    font-family: Arial, sans-serif;
}

/* Center the logo */
.header {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* Style the logo */
img {
    max-width: 100%;
}

/* Style the upload form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

/* Style the file upload input */
input[type="file"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.custom-file-upload {
    border: none;
    background-color: #2D6F7C;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 12px 20px;
    transition: all 0.2s ease-in-out;
}

.custom-file-upload:hover {
    background-color: #fff;
    color: #2D6F7C;
    border: 2px solid #2D6F7C;
}

/* Style the buttons */
button {
    padding: 10px 20px;
    background-color: #2D6F7C;
    border: none;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}

/* Hide the buttons initially */
.hide {
    display: none;
}

/* Style the image preview container
#image-placeholder {
    width: 80%;
    height: 300px;
    border-radius: 5px;
    border: 2px dashed #CCCCCC;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #CCCCCC;
} */
