<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Enhancement</title>
    <link rel="stylesheet" href="{{ url_for('serve_static', filename='css/homepage_styles.css') }}">
</head>
<body>
    <div class="toolbar">
        <img src="/static/images/logo.png" alt="EnhanceMint logo">
    </div> 
    <div id="image-container">
        <img src="{{ url_for('serve_image', filename=filename, device_id=device_id) }}">
    </div>
    <div class="sliders">
    
    <label for="brightness">Brightness</label>
    <input type="range" min="-100" max="100" step="1" value="0" id="brightness">
    <br>

    <label for="saturation">Saturation</label>
    <input type="range" min="-100" max="100" step="1" value="0" id="saturation">
    <br>
    
    <label for="exposure">Exposure</label>
    <input type="range" min="-100" max="100" step="1" value="0" id="exposure">
    <br>

    <label for="sharpen">Sharpen</label>
    <input type="range" min="-100" max="100" step="1" value="0" id="sharpen">
    <br>

    <label for="vibrance">Vibrance</label>
    <input type="range" min="-100" max="100" step="1" value="0" id="vibrance">
    <br>

    <label for="noise">Noise</label>
    <input type="range" min="-100" max="100" step="1" value="0" id="noise">
    <br>

    <label for="sepia">Sepia</label>
    <input type="range" min="-100" max="100" step="1" value="0" id="sepia">
    <br>

    </div>
    <div>
        <button id="resetFilters">Reset Filters</button>
    </div>
    <a href="#" class="button" id="saveImage" download="photo_enhanced">Save Image</a>
    <a href="{{ url_for('index') }}" class="upload-another-image">Upload another image</a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.min.js"></script>
    <script src="{{ url_for('serve_static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('serve_static', filename='js/enhancer_scripts.js') }}"></script>
</body>
</html>
