<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Enhancement</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('serve_static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('serve_static', filename='css/enhancer_styles.css') }}">
</head>
<body>
    <div class="toolbar">
        <img class="logo" style="cursor: pointer;" src="/static/images/logo.png" alt="EnhanceMint logo" onclick="location.href='{{ url_for('index') }}'">
    </div>
    <div class="left-column">
        <div id="image-container">
            <canvas id="image-canvas"></canvas>
        </div>
        <div class="other_buttons_div">
            <a href="#" id="saveImage" download="photo_enhanced">
                <button class="other_buttons">Save Image</button>
            </a>
            <button class="other_buttons" onclick="location.href='{{ url_for('index') }}'">Upload a different image</button>
        </div>
    </div>
    <div class="right-column">
        <div class="sliders">

            <label for="brightness">Brightness</label>
            <input type="range" min="-100" max="100" step="1" value="0" id="brightness">
            <br>

            <label for="saturation">Saturation</label>
            <input type="range" min="-100" max="100" step="1" value="0" id="saturation">
            <br>

            <label for="exposure">Exposure</label>
            <input type="range" min="-100" max="100" step="1" value="0" id="exposure">
            <br>

            <label for="sharpen">Sharpen</label>
            <input type="range" min="-100" max="100" step="1" value="0" id="sharpen">
            <br>

            <label for="vibrance">Vibrance</label>
            <input type="range" min="-100" max="100" step="1" value="0" id="vibrance">
            <br>

            <label for="sepia">Sepia</label>
            <input type="range" min="-100" max="100" step="1" value="0" id="sepia">
            <br>

        </div>
        <div class="filters_buttons">
          <h2>Filters:</h2>
          <div class="filter-buttons-wrapper">
            <button id="vintage-btn">Vintage</button>
            <button id="lomo-btn">Lomo</button>
            <button id="clarity-btn">Clarity</button>
            <button id="sincity-btn">Sin City</button>
            <button id="crossprocess-btn">Cross Process</button>
            <button id="pinhole-btn">Pinhole</button>
            <button id="nostalgia-btn">Nostalgia</button>
            <button id="majestic-btn">Her Majesty</button>
          </div>
        </div>

        <div class="reset_filter_button">
            <button id="resetFilters">Reset Filters</button>
        </div>
    </div>

    <script>
        window.imageUrl = "{{ url_for('serve_image', filename=filename, device_id=device_id) }}";
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.min.js"></script>
    <script src="{{ url_for('serve_static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('serve_static', filename='js/enhancer_scripts.js') }}"></script>
</body>
</html>
