<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnhanceMINT</title>
    <link rel="stylesheet" href="{{ url_for('serve_static', filename='css/homepage_styles.css') }}">
    <script src="{{ url_for('serve_static', filename='js/config.js') }}"></script>
    <script src="{{ url_for('serve_static', filename='js/homepage_scripts.js') }}"></script>
</head>
<body>
    <div class="header">
        <img src="static/images/logo.png" alt="EnhanceMINT logo">
    </div>
    <div id="image-placeholder" style="text-align: center;"></div>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="photo" class="custom-file-upload">Upload Image</label>
        <input type="file" name="photo" id="photo" accept="image/*,.pdf", onchange="previewImage();">
        <div>
            <button type="submit" name="action" value="erase" class="hide">Erase</button>
            <button type="submit" name="action" value="enhance" class="hide">Enhance</button>
        </div>
    </form>
</body>
</html>
